<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>SENA IDEAs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
     
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body  ng-controller="myCtrl">
    <div class="container">
        <div class="logo">
            <div class="logo_img"> <img src="images/logo@2x.png" alt="">         
                </div>
            <div class="logo_telefone">
                <a href="tel:+33805082216" target="_blank" class="logo_telefone_a"><img src="images/logophone.png" alt="" ><span>+33 8 05 08 22 16</span></a>
                <span class="logo_line"> <img src="images/Vector.png" alt="line">
                </span>
                <span class="logo_basket" ><img src="images/shopping-cart.png" alt="" >                            
                </span>
                <span class="logo_language active" ng-click="chooseLang('fr')">fr</span>
                <span class="logo_language"  ng-click="chooseLang('en')">en</span>
                </div>
        </div>
        <div class="header"><img src="images/bgheader.png" alt="">
            <div class="header_div"><p class="header_text">{{mainlang.headerImage_part1}} - </p> <p  class="header_text">{{mainlang.headerImage_part2}} </p></div>
        </div>
    
        <div class="constructor-steps">

                <div class="constuctorw"><img src="/images/steps1.png" alt="" class="constructor-steps__stepsimg">
                    <p class="constructor-steps__steptext">{{mainlang.section_constructorSteps_1}}</p>
                </div>
                <div class="constuctor_arrow"><img src="/images/right-arrow.png" alt="" class="constructor-steps__arrow"></div>
                <div class="constuctorw"><img src="/images/steps2.png" alt="" class="constructor-steps__stepsimg">
                    <p class="constructor-steps__steptext">{{mainlang.section_constructorSteps_2}}:</p>
                    <p  class="constructor-steps_text">{{mainlang.tshirt}}</p>
                    <p  class="constructor-steps_text"> {{mainlang.sweatshirt}}</p>
                </div>
                <div class="constuctor_arrow"><img src="/images/right-arrow.png" alt="" class="constructor-steps__arrow"></div>
                <div class="constuctorw"><img src="/images/steps3.png" alt="" class="constructor-steps__stepsimg">
                    <p class="constructor-steps__steptext">{{mainlang.section_constructorSteps_3}}</p>
                </div>
                <div class="constuctor_arrow"><img src="/images/right-arrow.png" alt="" class="constructor-steps__arrow"></div>

               
                <div class="constuctorw"><img src="/images/steps5.png" alt="" class="constructor-steps__stepsimg">
                    <p class="constructor-steps__steptext">{{mainlang.section_constructorSteps_5}}</p>
                </div>
                <div class="constuctor_arrow"><img src="/images/right-arrow.png" alt="" class="constructor-steps__arrow"></div>
                <div class="constuctorw"><img src="/images/steps6.png" alt="" class="constructor-steps__stepsimg">
                    <p class="constructor-steps__steptext">{{mainlang.section_constructorSteps_6}}</p>
                </div>
                <div class="constuctor_arrow"><img src="/images/right-arrow.png" alt="" class="constructor-steps__arrow"></div>
                <div class="constuctorw constructor-steps_lasttext">
                    <p>{{mainlang.section_constructorSteps_7part1}}</p>
                    <p>{{mainlang.section_constructorSteps_7part2}}</p>
                    </div>
            

        </div>
        <div class="sex-selection">
            <div class="sex-selection_men">
                <div><img src="/images/men.png" alt="" class="sexselection__img"></div>
                <div class="sexselection__hover">
                    <div><a href=""><button
                                class="sexselection__button-shirt">{{mainlang.section_sex_selection_buttonTop}}</button></a><br>
                        <a href=""><button
                                class="sexselection__button-sweatshirt">{{mainlang.section_sex_selection_buttonBottom}}</button></a>
                    </div>
                </div>
            </div>
        
        <div class="sex-selection_women">
        
            <div><img src="/images/women.png" alt="" class="sexselection__img"></div>
            <div class="sexselection__hover">
                <div><a href=""><button
                            class="sexselection__button-shirt">{{mainlang.section_sex_selection_buttonTop}}</button></a><br>
                    <a href=""><button
                            class="sexselection__button-sweatshirt">{{mainlang.section_sex_selection_buttonBottom}}</button></a>
                </div>
            </div>
        </div>
        <div class="sex-selection_child">
            <div><img src="/images/child.png" alt="" class="sexselection__img"></div>
        
            <div class="sexselection__hover">
                <div><a href=""><button
                            class="sexselection__button-shirt">{{mainlang.section_sex_selection_buttonTop}}</button></a><br>
                    <a href=""><button
                            class="sexselection__button-sweatshirt">{{mainlang.section_sex_selection_buttonBottom}}</button></a>
                </div>
            </div>
        </div>


        </div>
        
        
        <div class="announcement">
            <div class="announcement__left">
                <div class="announcement__img-shirt"><img  class="announcement_image" src="/images/anons1.gif" alt=""></div>
                <div class="announcement__text">            <h2 >{{mainlang.section_announcementLeft_header}}</h2>
                    <p class="announcement__text_text">{{mainlang.section_announcementLeft_text}}</p>
                </div>
               
            </div>
            <div class="announcement__right">
                 <div class="announcement__img-thread"><img  class="announcement_image" src="/images/anons2.gif" alt=""></div>
                <div class="announcement__text">
                    <h2 > {{mainlang.section_announcementRight_header_p1}}<br>{{mainlang.section_announcementRight_header_p2}}</h2>
                     <div class="method">
                     
                <span>{{mainlang.section_announcementRight_methodApplication_1}}</span>
 <span>{{mainlang.section_announcementRight_methodApplication_2}}</span>
 <span> {{mainlang.section_announcementRight_methodApplication_3}}</span>

                
                </div>
                </div>
                </div>
           


        </div>
        <div class="wanna-try">
          
            <img src="images/wanna_trybg.png" > 
            <div><a class="wanna-try__url" href="constructor.html" target="_blank"><button class="wanna-try__btn">{{mainlang.section_wanna_try}}</button></a></div>




        </div>
        <div class="aboutUs">

            <div class="aboutUs__img"><img src="/images/aboutUS.gif" alt=""></div>
            <div class="aboutUs__text">{{mainlang.section_aboutUs}}</div>


        </div>
        <div class="gallery">
           <div class="lp-slider1 owl-carousel">
               <div class="item"><img src="/images/gl1png.png" alt="" class="gallery_img"></div>
            <div class="item"><img src="/images/gl2.png" alt="" class="gallery_img"></div>
            <div class="item"><img src="/images/gl3.png" alt="" class="gallery_img"></div>
            <div class="item"><img src="/images/gl4.png" alt="" class="gallery_img"></div>
            <div class="item"><img src="/images/gl5.png" alt="" class="gallery_img"></div>
            <div class="item"><img src="/images/gl6.png" alt="" class="gallery_img"></div>   
            </div>
         
           

        </div>
        <div class="footer">
            
                <div class="footer__text"> 
                    <p>{{mainlang.copyright}}&#169; 2019 Sena <a href="desktopCookies.html"> {{mainlang.footerCookies1}}</a> <a href="#" id="cookies_bottom">{{mainlang.footerCookies2}} </a></p>
                </div>
           <div  class="footer_links">
            <a href="https://www.instagram.com/?hl=ru"><img src="/images/instagram-logo.png" alt=""></a>
           <a href="https://www.facebook.com/"><img src="/images/facebook-logo.png" alt=""></a></div>

        </div>    
        <div  class="cookie">
        <div class="cookie_top hide" id="cookie_top">
            <div class="cookie_top_div"><p>{{mainlang.cookieToppart1}}<a href="#"  class="cookie_top_orangeText">{{mainlang.cookieToppart2}}</a></p></div>
                <div class="cookie_top_ok"><span class="cookie_btn_ok">OK</span></div>
        </div></div>  

        <div class="po-pup hide">
            <div class="popup_main">
            <h3>Cookies</h3>
            <p>{{mainlang.cookie_text_part1}}</p>
            <p>{{mainlang.cookie_text_part2}}</p>
            <p>{{mainlang.cookie_text_part3}}</p>
            <p>{{mainlang.cookie_text_part4}} {{mainlang.cookie_text_part5}}</p>
            <label><input type="checkbox"> {{mainlang.cookie_agree}} </label>
            <p><span class="cookie_btn_agree"> {{mainlang.cookie_button_agree}} </span></p>
            <span class="close_popup_main">x</span>
        </div>
        </div>
    </div>
  
</body>

</html>
